.topbar {
    display: flex;
    background-color: #1877f2;
    height: 50px;
    top: 0;
    position: sticky;
    align-items: center;
}
.left {
    flex: 3;
}
.logo {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-left: 15px;
    cursor: pointer;
}

.center {
    flex: 5;
}

.search-box {
    background-color: #fff;
    width: 100%;
    border-radius: 30px;
    display: flex;
    height: 30px;
    align-items: center;
}

.search-icon {
    margin: 0px 10px;
    font-size: 20px !important;
}

.search-input {
    width: 70%;
    border: none;
}
.search-input:focus {
    outline: none;
}
.right {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links {
    span {
        margin-right: 10px;
        cursor: pointer;
        color: white;
    }
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.items {
    position: relative;
    color: white;
    cursor: pointer;

    margin-right: 15px;
}

.badge {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    top: -5px;
    right: -5px;
    color: white;
    height: 15px;
    width: 15px;
    display: flex;justify-content: center;
    align-items: center;
}

.image{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

